<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Commute</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaljhwqza0E_tfS7tkPupnpmDzWM47unQ&libraries=places"></script>

  </head>
  <body>
  <p>
    Your time per month is ***<%=   @total_time %>*** <br>
    Your cost per month is ***<%= @monthly_bike_cost %>***<br>
    Your CO2 emmissions is ***<%=   @total_co2 %>***
</p>

</body>
</html>
